@import "tailwindcss";

@theme {
  /* ----------COLORS------------ */
  --color-basecolor: #017163;

  /* ----------TEXT SIZE---------- */
  --text-xxl_title: 60px;


  /* ----------Break Point---------- */
  --breakpoint-xsm: 330px;
}
