@import "tailwindcss";

@theme {
  /* ----------COLORS------------ */
  --color-main: #C5FF41;

  /* ----------TEXT SIZE---------- */
  --text-xxl_title: 78px;
  --text-xl_title: 58px;
  --text-lg_title: 34px;
  --text-title: 26px;

  --text-regular: 18px;
  --text-p: 16px;


  /* ----------Break Point---------- */
  --breakpoint-xsm: 330px;
}

.footer{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* globals.css */

:root {
  --bg: #ffffff;
  --text: #000000;
}

.dark {
  --bg: #000000;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
